@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-selection{
    @apply font-bold bg-slate-500;
  }

  .custom-shadow{
    @apply shadow dark:shadow-lg dark:shadow-cyan-500/10
  }
}